---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-charcoal-600">
    <amp-install-serviceworker
      src="https://amertechsolutions.amerfathullah.com/service-worker.js"
      data-iframe-src="https://cdn.ampproject.org/v0/amp-install-serviceworker.html"
      layout="nodisplay">
    </amp-install-serviceworker>
    <slot />
    <Footer/>
  </body>
</html>
