<footer class="bg-charcoal-600 text-white">
  <div class="mx-auto px-8 justify-content-center text-center">
    <p class="font-bold italic text-2xl lg:text-4xl">
      Amer Tech Solutions
    </p>
    <p class="text-sm mt-1">
      Designed and built in the picturesque coastal city of Kuala Terengganu, Terengganu, Malaysia<br />by
      <a href="https://amerfathullah.com/" target="_blank" rel="noopener noreferrer" class="underline hover:text-negroni-500 duration-200">
        Amer Fathullah.
      </a>
    </p>
    <nav class="flex justify-center gap-8 mt-11">
      <a href="https://linktr.ee/amerfathullah" target="_blank" rel="noopener noreferrer" class="text-negroni-500 h-8 delay-150 hover:text-tomato-500 text-sm transition-colors">
        Linktree
      </a>
    </nav>
    <div class="border-t border-negroni-500/10 text-center">
      <p class="text-tomato-500 text-sm">
        © 2024 Amer Fathullah. All rights reserved.
      </p>
    </div>
  </div>
</footer>
